


/*--------------------------------------------*/
/*----------- theme1 theme color  ------------*/
/*--------------------------------------------*/
.ks-color-theme, .ks-layout-theme{ height: 30px; margin-bottom: 10px}

/*--------------------------------------------*/
/*----------- theme1 contacts color  ------------*/
/*--------------------------------------------*/
.list-block.media-list .item-media img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%
}

/*--------------------------------------------*/
/*----------- theme1 todo task color  ------------*/
/*--------------------------------------------*/
.primarystatus:before{ content: " "; height: 100%; width: 3px; position: absolute; left: 0; top: 0; background: #ff0000}
.taskstatus:before{ content: " "; height: 100%; width: 3px; position: absolute; left: 0; top: 0; background: #00baff}
.workstatus:before{ content: " "; height: 100%; width: 3px; position: absolute; left: 0; top: 0; background: #ffba00}
.meetingstatus:before{ content: " "; height: 100%; width: 3px; position: absolute; left: 0; top: 0; background: #18c111}
.speed-dial-buttons a.color-pink{ color: #fff;  background: #e91e63;}
.speed-dial-buttons a.color-indigo{ color: #fff;  background: #3f51b5;}
.floating-button.color-red{ color: #fff;  background: #f22948;}
.floating-button{ font-size: 18px;}

/*--------------------------------------------*/
/*------------------- chart  -----------------*/
/*--------------------------------------------*/
.chartblock .card{    margin: 10px 0;  box-shadow: none; padding: 10px}
.chartblock{ padding:0px;}

/*--------------------------------------------*/
/*------------------- Dashboard -----------------*/
/*--------------------------------------------*/
.alertblock{}
.alertblock .content-block h2{ color: #ffffff}
.alertblock .content-block { padding: 16px}
.orange{ background: #ff9800; border:1px solid #ff9800 !important; color:#ffffff;}
.red{ background: #f44336; border:1px solid #f44336 !important; color:#ffffff;}
.blue{ background: #2196f3; border:1px solid #2196f3 !important; color:#ffffff;}
.green{ background:#4caf50; border:1px solid #4caf50 !important; color:#ffffff;}
.padding{ padding: 0 16px;}
.sliderdashboard {  height: 314px; }
table{ border-collapse: collapse; width: 100%}
table tr th{ color: #222222; background: #eeeeee;}
table tr td, table tr th{ border: 1px solid #dddddd; font-weight: 400; padding: 0 10px; line-height: 30px; text-align: left}
.largebanner.shop{ height: 350px;}

/*--------------------------------------------*/
/*------------------- Category -----------------*/
/*--------------------------------------------*/
.category{margin: 0; padding: 0px}
.category.prductlist .card{ position: relative; overflow: hidden; margin: 0 0 1px 0; border:0}
.categoryimg{width: 100%;position: absolute;top: 0;left: 0;opacity: 0.5; z-index: 0; min-height: 100%}
.category .card-content{z-index: 1; text-align: center; float: left; width: 100%}
.category .card-content h2, .category .card-content p{color: #ffffff}
.category .card{background: #000000; padding: 30px 0}
.category.homes .card{margin: 0px 0 16px 0 }
.shop.list-block .item-media{ height: 120px; width: 100px; overflow: hidden}
.shop.list-block .item-media img{ width: 100%; min-height: 100%; border-radius: 0}


/*--------------------------------------------*/
/*------------------- masonary -----------------*/
/*--------------------------------------------*/
.grid .grid-item{ width:33.33333%; padding: 1px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;}
.grid.two .grid-item{ width:50%;}
.grid.one .grid-item{ width:100%;}
.grid a{width: 100%; display: block; float: left}
.grid a img{width: 100%; display: block; float: left}

/*--------------------------------------------*/
/*------------------- menu landing -----------------*/
/*--------------------------------------------*/
.menulanding{ padding: 00; width: 100%; float: left; margin: 0 auto;background: #46246A; }
.menulanding  li { width: 33.30%; float: left; list-style: none; text-align: center;}
.menulanding li .item-link { height: 80px; width: 80px; display: block; border: 1px solid rgba(0, 0, 0, 0.10); margin: 10px auto;}
.menulanding li .item-link i{ width: 100%; display: block; line-height: 48px; font-size: 24px; color: #ffffff;}
.menulanding li .item-link span{ font-size: 13px; line-height: 18px; padding: 0 2%; text-align: center; width: 96%; display: block; text-overflow: ellipsis; overflow: hidden ; white-space: nowrap;  color: #fff;}


/* font for header titles */
.header .logo, .maintitle, h1, h2 , h3{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #000000;
}
h2+p { font-size: 17px;  font-weight: 400;}

/* scrollbars */
::-webkit-scrollbar {
 width: 2px;
    height: 2px
}
 
::-webkit-scrollbar-track {
 -webkit-border-radius: 10px;
 border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
 -webkit-border-radius: 10px;
 border-radius: 10px;
 background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:window-inactive {
 background: rgba(0, 0, 0, 0.2);
}

.members-icon img {
    max-height: 50px;
    max-width: 50px;
}

.card-header .item-media img {
    max-height: 40px;
    max-width: 40px;
}
.modal-view {
    height: 300px;
}
.modal-view .list-block {
    margin: 0;
}

.my_select .list-block    {
overflow:scroll;
  }

.my_select .item-title    {
    overflow:visible;
      }

.my_select label.label-checkbox, label.label-radio{
overflow:visible;

}

.my_select .list-block .autocomplete-opener .item-after, .list-block .smart-select .item-after{
 max-width: 100%;   
}

.my_select ul > li {
     padding-bottom: 0;
     margin-top:10px;
}
.norm-text {
    color: #030303;
}

.bolder-title {
    font-weight: bolder;
    color: #030303;
    font-size: 14px;
}

.bolder-head-title {
    font-weight: bolder;
    text-transform: uppercase;
    color: #030303;
    font-size: 14px;
}

.slidding-block {
    padding-top: 44px;
}
.no-border{
    border:none;
}

.specific{
 padding-left:10px !important; 
}


#tab1, #tab2, #tab3{
    padding-top:60px;
}


.messages-auto-layout a {
    color: #46246A;
    text-decoration: underline;
}

.white {
    color: #fff;
}

